# =========================
# macOS
# =========================
.DS_Store

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log