fastapi
uvicorn[standard]
pandas
numpy
lightgbm
shap
scikit-learn
python-multipart

supabase
python-dotenv

python-jose[cryptography]
passlib[bcrypt]
bcrypt
email-validator

httpx
requests
google-auth